In [9]:
# Import all the functions required for the assignment
import pandas as pd
from pathlib import Path
%matplotlib inline

In [13]:
#Read the CSV into a Dataframe using Pandas
budget_data = pd.read_csv('budget_data.csv')
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [89]:
budget_data.iloc[0].loc['Profit/Losses']

867884

In [27]:
# The total number of months included in the dataset
total_month_number = budget_data["Date"].value_counts().sum()
total_month_number

86

In [29]:
# The total amount of Profit/Losses over the entire period
total_profit_loss = budget_data["Profit/Losses"].sum()
total_profit_loss

38382578

In [106]:
#The average of the changes in Profit/Losses over the entire period
average_profit = round(budget_data["Profit/Losses"].mean(),2)
average_profit

446309.05

In [108]:
# The greatest increase in profits (dataa and amount) over the entire period
#Use sort_values to put maximum profit day at top, and use iloc[0] to look at the first row of data frame.
max_profit = budget_data.sort_values("Profit/Losses", ascending = False).iloc[0]
max_profit

Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object

In [76]:
#The greatest decreases in losses (data and amount) over the entire period
max_loss = budget_data.sort_values("Profit/Losses").iloc[0]
max_loss

Date             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object

In [120]:
# Print the final Financial Analysis. 
# Use .loc[Date] and .loc[Profit/Losses] to select specific element from max_profit and max_losses
Financial_Analysis = print("Total Month: ",total_month_number,"\nTotal: $",total_profit_loss,"\nAverage Change: $", average_profit,
                           "\nGreatest Increase in Profits: ",max_profit.loc["Date"],"($",max_profit.loc["Profit/Losses"],")",
                           "\nGreatest Decrease in Profits: ",max_loss.loc["Date"],"($",max_loss.loc["Profit/Losses"],")")

Total Month:  86
Total: $ 38382578
Average Change: $ 446309.05
Greatest Increase in Profits:  Feb-2012 ($ 1170593 )
Greatest Decrease in Profits:  Sep-2013 ($ -1196225 )

In [132]:
#Export Report as txt file
with open("report_analysis.txt","w") as out_file:
    out_file.write("Total Month :86 \n")
    out_file.write("Total: $ 38382578 \n")
    out_file.write("Average Change: $ 446309.05 \n")
    out_file.write("Greatest Increase in Profits:  Feb-2012 ($ 1170593) \n")
    out_file.write("Greatest Decrease in Profits:  Sep-2013 ($ -1196225) \n")

In [133]:
!cat report_analysis.txt

Total Month :86
Total: $ 38382578
Average Change: $ 446309.05
Greatest Increase in Profits:  Feb-2012 ($ 1170593)
Greatest Decrease in Profits:  Sep-2013 ($ -1196225)